@import '../../scss/color';

.cartMenu {
   position: absolute;
   top: 30px;
   left: -30px;
   background-color: rgb(36, 37, 41);
   width: 500px;
   padding: 10px 20px;
   z-index: 2;
   border-radius: 15px;
}

.arrange {
   margin-top: 20px;
   padding: 20px 0;
   border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.totalPrice {
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
}