@import '../../scss/color';

.flowerItem {
   text-decoration: none;
   color: $colorWhite;
   width: 320px;
   height: auto;
   background-color: rgb(36, 37, 41);
   border-radius: 15px;
   cursor: pointer;
   position: relative;
   margin-bottom: 30px;
   margin-right: 50px;
}

.title {
   font-size: 18px;
   font-weight: 400;
}

.color {
   margin: 15px 0;
   display: flex;
   flex-wrap: wrap;
}

.details {
   padding: 10px 20px;
}

.description {
   margin-top: 10px;
   font-size: 14px;
}