@import './color';

* {
   padding: 0;
   margin: 0;
   list-style: none;
   outline: none;
   font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
   box-sizing: border-box;
 }

body {
   background-color:rgb(25, 26, 28);
}

.app {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 40px;
   color: $colorWhite;
}

a {
   color: $colorWhite;
   text-decoration: none;
}
